@charset "UTF-8";
 body {
	background-color: #002984;
	margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
	overflow: hidden;
}
.container {
	display: inline-grid;
	position: relative;
	grid-template-columns: repeat(10, 384px);
	grid-template-rows: repeat(6, 360px);
	padding-bottom: 0px;
	padding-top: 0px;
	grid-row-gap: 0px;
	grid-column-gap: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #002984;
}
.dashboard-container {
	display: inline-grid;
	position: relative;
	grid-template-columns: repeat(10, 192px);
	grid-template-rows: repeat(6, 180px);
	padding-bottom: 0px;
	padding-top: 0px;
	grid-row-gap: 0px;
	grid-column-gap: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #002984;
}
.slot {
	margin:0;
	position: relative;
	display: inline-grid;
	grid-row-gap: 0px;
	grid-column-gap: 0px;
}
.slot-id p {
	margin-top: 0;
	position: absolute;
	text-align: center;
	font-size: 4.5em;
	font-weight: 400;
	font-family: Lilita One;
	color: aliceblue;
	background-color: rgba(0,0,0,0.70);
	top: 10px;
	left: 40%;
	text-shadow: 5px 5px 5px #000000;
}

.slot-size p {
	margin-top: 0;
	position: absolute;
	text-align: center;
	font-size: 4em;
	font-weight: 300;
	font-family: Lilita One;
	color: aliceblue;
	background-color: rgba(0,0,0,0.70);
	top: 280px;
	left: 40px;
	text-shadow: 5px 5px 5px #000000;
	
}