@charset "UTF-8";
/* Body */
body {
	background-color: #002984;
	margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    
	overflow: hidden;
}
/* Container */
.grid-container {
  display: inline-grid;
	position: relative;
  grid-template-columns: repeat(5, 384px) 1920px;
  grid-template-rows: repeat(6, 360px);
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . Slideshow"
    ". . . . . Slideshow"
    ". . . . . Slideshow"
    ". . . . . Slideshow"
    ". . . . . Slideshow"
    ". . . . . Slideshow";
}

.Slideshow {
	grid-area: Slideshow; 
	overflow: hidden;
	display: grid;
	position: relative;
	border-color: aliceblue;
	border: thick;
	background: url("https://impulseincome.com/031/cards/blank.png");
}
.slot {
	margin:0;
	position: relative;
	display: inline-grid;
	grid-gap: 0px 0px;
}

